.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

  h1 {
    margin-bottom: 30px;
  }

  .select_inputs_container {
    width: 40rem;

    .select_container {
      padding: 1rem;
      border: 1px solid cornflowerblue;
      border-radius: 0.3rem;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      .title {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;

        span:first-child {
          font-weight: bold;
          font-size: larger;
          margin-bottom: 0.6rem;
        }
        span:last-child {
          font-size: smaller;
          font-style: italic;
        }
      }

      .results {
        padding: 0.4rem;
        border: 1px dotted blueviolet;
        border-radius: 0.3rem;
        margin-top: 0.5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        span {
          padding: 0.3rem 0.6rem;
          background-color: #b8b8b8;
          color: white;
          border: none;
          outline: none;
          border-radius: 0.2rem;
          margin-top: 0.3rem;
          margin-bottom: 0.3rem;

          //text-overflow: ellipsis;
          //overflow: hidden;
          white-space: nowrap;

          &:not(:last-child) {
            margin-right: 0.3rem;
          }
        }
      }
    }
  }
}
