.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  .dropdown_container {
    position: relative;

    button {
      cursor: pointer;
    }

    .dropdown {
      margin-top: 10px;
      z-index: 2;
      position: absolute;
      padding: 10px;
      border-radius: 5px;
      background-color: #1c6ea4;
      box-shadow: 5px 5px 15px 5px #000000;
      visibility: hidden;
      opacity: 0;
      transform: scale3d(1, 0, 1);
      transition: all 0.3s ease-in-out;

      &.opened {
        visibility: visible;
        opacity: 1;
        transform: scale3d(1, 1, 1);
      }
    }
  }
}
