.App {
    text-align: center;
}

:global(nav) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: #5057FF;
    color: white;
}

.nav_links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.link {
    color: white;
}
